html,
body {
  margin: 10;
  padding: 10;
  width: 100%;
  height: 100vh;
}

a {
color:#1d70b8;
}
a:hover {
color:#003078;
}

table {
border-collapse: collapse;
text-align: left;
vertical-align: middle;
}
th {
border-bottom:1px solid black;
}
table td, table th {
min-width: 105px;
}
tbody tr:nth-child(odd) {
background-color: #fff;
}

tbody tr:nth-child(even) {
background-color: #eee;
}
