html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-weight: normal;
  color: $black;
  line-height: $baseLineHeight;
  font-size: 14px;

  @media only screen and (min-width: $smallBreakpoint) {
    font-size: 15px;
  }

  @media only screen and (min-width: $largeBreakpoint) {
    font-size: $baseFontSize;
  }
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 1.6rem;
  margin-bottom: 0;
}
h1 {
  font-size: 4.242rem;
  line-height: 4.5rem;
  margin-top: 3rem;
}
h2 {
  /**  font-size: 2.828rem; **/
  font-size: 2rem;
  line-height: 3rem;
  margin-top: 2rem;
}
h3 {
  font-size: 1.414rem;
}
h4 {
  font-size: 0.707rem;
}
h5 {
  font-size: 0.4713333333333333rem;
}
h6 {
  font-size: 0.3535rem;
}

p {
line-height: 1.6rem;
margin-top: 1.6rem;
margin-bottom: 0;
}
p + ul { margin-top: 0; }
ul,
ol {
margin-top: 1.6rem;
margin-bottom: 1.6rem;
}

ul li,
ol li {
line-height: 1.6rem;
}

blockquote {
line-height: 1.6rem;
margin-top: 1.6rem;
margin-bottom: 1.6rem;
}
