@import url('https://fonts.googleapis.com/css?family=Open+Sans:400');

:root {
  --font-size: clamp(1rem, calc(1rem + ((1vw - 0.48rem) * 0.6944)), 1.5rem);
  --text-color: #333333;
  --link-color: #1616B2;
  --link-visited-color: #822998;
  --link-hover-color: #424AE0;
}

html {
  /**  font-size: 112.5%;
  font-size: clamp(16px, 3vw, 20px); **/
  font-size: var(--font-size);
  min-height: 0vw;
  } /*18px*/

  body {
    background: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    line-height: 1.75;
  }

  p {margin-bottom: 1rem;}

  hr {margin-top: 3rem;}

  h1, h2, h3, h4, h5 {
    margin: 3rem 0 1.38rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    line-height: 1.3;

    overflow-wrap: break-word;
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
  }

  h1 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 3.052rem;
  }

  p:nth-child(2) {
    margin-top: 0rem;
    margin-bottom: 3rem;
  }

  h2 {font-size: 2.441rem;}

  h3 {font-size: 1.953rem;}

  h4 {font-size: 1.563rem;}

  h5 {font-size: 1.25rem;}

  small, .text_small {font-size: 0.8rem;}

  body {
    max-width: 55ch;
    padding: 1rem;
    margin: auto;
    color: var(--text-color);
  }

  figure {
    padding: 0;
    margin: 0;
  }

  img {
    height: auto;
    width: 100%;
    /* even more control with max-width */
    max-width: 640px;
  }

  a{
    text-underline-offset: 2px;
  }

  a:link {
    color: var(--link-color);
  }

  /* visited link */
  a:visited {
    color: var(--link-visited-color);
  }

  /* mouse over link */
  a:hover {
    color: var(--link-hover-color);
  }

  hr {
    border: 1px solid #333333;
  }

  footer {
    margin-top: 3rem;
    text-align: center;
  }

  ol li {
    margin-bottom: 15px;
    margin-top: 15px;
  }

  ul {
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margins */
  }

  ul li{margin-bottom:0.5rem}

  svg{
    width: 90px;
    height: auto;
  }

  /** Table design **/

  table {
    border-collapse: collapse;
    width: 100%;
  }

  th, td {
    text-align: left;
    padding: 8px;
    /** Hacky to set the width like this **/
    width: 65px;
  }

  tr:nth-child(even) {background-color: #f2f2f2;}

  /** Specific for a blog **/

  .blurry-load{filter:blur(8px)}@-webkit-keyframes blurOut{0%{filter:blur(20px)}50%{filter:blur(10px)}to{filter:blur(0)}}@keyframes blurOut{0%{filter:blur(20px)}50%{filter:blur(10px)}to{filter:blur(0)}}.blur-out{-webkit-animation:blurOut .5s ease-out;animation:blurOut .5s ease-out}@-webkit-keyframes shimmer{0%{background-position:-100vw 0}to{background-position:100vw 0}}@keyframes shimmer{0%{background-position:-100vw 0}to{background-position:100vw 0}}.no-blur{-webkit-animation-duration:2s;animation-duration:2s;-webkit-animation-fill-mode:forwards;animation-fill-mode:forwards;-webkit-animation-iteration-count:infinite;animation-iteration-count:infinite;-webkit-animation-name:shimmer;animation-name:shimmer;-webkit-animation-timing-function:linear;animation-timing-function:linear;background:#f6f7f8;background:gradient(linear,left top,right top,color-stop(8%,#eee),color-stop(18%,#ddd),color-stop(33%,#eee));background:linear-gradient(90deg,#eee 8%,#ddd 18%,#eee 33%)}

  /**
  p:nth-child(4)::first-letter {
  font-family: "Open Sans", serif;
  font-size: 3.5rem;
  float: left;
  line-height: 0.9;
  margin-right: 0.05em;
  color: #333333;
}
**/

p:nth-child(4){
  margin-top: 3rem;
}

.marker-highlight{
  position:relative;
  color: #fff;
}

.marker-highlight:before{
  content:"";
  background-color:#000;
  width:100%;
  height:1.3em;
  position:absolute;
  z-index:-1;
  filter:url(#marker-shape);
  left:-0.25em;
  top:0.05em;
  padding:0 0.25em;
}

.logo{
  text-decoration: none;
}

.blurry-load{filter:blur(8px)}@-webkit-keyframes blurOut{0%{filter:blur(20px)}50%{filter:blur(10px)}to{filter:blur(0)}}@keyframes blurOut{0%{filter:blur(20px)}50%{filter:blur(10px)}to{filter:blur(0)}}.blur-out{-webkit-animation:blurOut .5s ease-out;animation:blurOut .5s ease-out}@-webkit-keyframes shimmer{0%{background-position:-100vw 0}to{background-position:100vw 0}}@keyframes shimmer{0%{background-position:-100vw 0}to{background-position:100vw 0}}.no-blur{-webkit-animation-duration:2s;animation-duration:2s;-webkit-animation-fill-mode:forwards;animation-fill-mode:forwards;-webkit-animation-iteration-count:infinite;animation-iteration-count:infinite;-webkit-animation-name:shimmer;animation-name:shimmer;-webkit-animation-timing-function:linear;animation-timing-function:linear;background:#f6f7f8;background:gradient(linear,left top,right top,color-stop(8%,#eee),color-stop(18%,#ddd),color-stop(33%,#eee));background:linear-gradient(90deg,#eee 8%,#ddd 18%,#eee 33%)}

#navbar ul {
  list-style-type: none;
  padding: 0;
}

#navbar ul li {
  display: inline;
  margin-right: 10px;
}

#navbar ul li a {
  text-decoration: none;
}

#navbar ul li a:hover {
  text-decoration: underline;
  text-underline-offset: 0.5em;
  text-decoration-thickness: 3px;
}
