// Container styles

div.container {
  min-height: 25rem;
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: [left] 10rem auto 10rem [right];
  grid-template-rows: [top] 5rem auto 5rem [bottom];
  grid-template-areas:
  "head head head"
  "panleft mainbody panright"
  "foot foot foot";
}
div.header {
  grid-area: head;
  grid-column: 1  / -1;
}
div.footer {
  grid-area: foot;
}
div.panel {
background: rgb(0, 0, 0, 0.1);
}
div.panel.left {
grid-area: panleft;
}
div.panel.right {
grid-area: panright;
}
div.mainbody {
grid-area: mainbody;
width: 30rem;
justify-self: center;
}
@media screen and (max-width: 50rem) {
div.panel.left {
grid-column-end: left;
}
div.panel.right {
grid-column-start: right;
}
div.panel {
display: none;
}
div.mainbody {
grid-column-start: left;
grid-column-end: right;
}
}
