figure {
  margin: 0;
}

figure figcaption {
  color: #666;
  font-style: italic;
  font-size: 0.9em;
}

img {
  width: 100%;
  height: auto;
}

.parent {
  position: relative;
  top: 0;
  left: 0;
  overflow: hidden;
  -webkit-transform: translate3d(0, 0, 0);
}
.image1 {
  position: relative;
  top: 0;
  left: 0;
  filter: blur(8px);
  transform: scale(1.03);
}
.image2 {
  position: absolute;
  top: 0px;
  left: 0px;
  opacity: 1;
  animation: fadeIn 2.0s ease-out;
}

@keyframes fadeIn{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
