// Your variable overrides go here, e.g.:
//$h1-font-size: 2rem;

$display3-weight:500;

$body-bg:#ffffff;

$blue: #1d70b8;
$dark: #0b0c0c;
$body-color: #0b0c0c;


$link-colour:	#1d70b8;
$link-hover-colour:	#003078;

@import "_variables3";
$spacer: 1rem !default;
$spacers: (

6: ($spacer * 4)
);
@import "bootstrap";
@import "_mixins";
@import "_bootswatch";

/**
h1{
@extend .mb-6;
}
**/



h1 + p {
  @extend .mb-5;
}

h1 + figure {
    @extend .mt-5;
}

h2{
  @extend .mb-4;
  @extend .mt-4;
}

table  {
  @extend .table;
  @extend .table-striped;
}

.table td, .table th {
  min-width: 105px;
}

ol {
  @extend .list-unstyled;
}
/**
hr{
width: 15%;
border: 10px dotted;
border-style: none none dotted;
color: black;
margin-top: 2rem;
margin-bottom: 3rem;
}
**/


a {
  color:$link-colour;
}
a:hover {
  color:$link-hover-colour;
}

.text-muted {
  color: #757575 !important;
}

img{
  @extend .img-fluid;
  @extend .figure-img;
}

figcaption{
  @extend .mb-5;
}


main {
  //  @include make-container();
  @include make-row();
  @extend .justify-content-center;
  section {
    @include make-col-ready();
    @include media-breakpoint-up(sm) {
      @include make-col(12);
    }
    @include media-breakpoint-up(md) {
      @include make-col(8);
    }
    @include media-breakpoint-up(lg) {
      @include make-col(5);
    }
  }
}

footer{
  @include make-row();
  @extend .justify-content-center;
  @extend .text-center;
  background-color: #000357;
  section{
    margin-top: 5px;
    @include make-col-ready();
    @extend .text-white;
    @include media-breakpoint-up(sm) {
      @include make-col(12);
    }
    @include media-breakpoint-up(md) {
      @include make-col(6);
    }
    a{
      @extend .text-white;
    }
  }
}

header{
  .brand{
    @extend .navbar;
    @extend .navbar-brand;
    a{
      @extend .navbar-brand;
    }
  }
  .hero{
    @include make-row();
    @extend .p-4;
    /**    @extend .align-items-center; **/
    @extend .justify-content-center;
    @extend .text-center;


    h1{

      @include make-col-ready();

      @include media-breakpoint-up(sm) {
        @include make-col(12);
      }
      @include media-breakpoint-up(md) {
        @include make-col(12);
      }
      @include media-breakpoint-up(lg) {
        @include make-col(12);
      }

      @extend .display-2;

      color: darkblue;
      @supports (--css: variables) {

        background: linear-gradient(to right, darkblue, darkorchid);
        background: #959595;
        background: -webkit-linear-gradient(to right, #959595 0%, #0D0D0D 46%, #010101 50%, #0A0A0A 53%, #4E4E4E 76%, #383838 87%, #1B1B1B 100%);
        background: -moz-linear-gradient(to right, #959595 0%, #0D0D0D 46%, #010101 50%, #0A0A0A 53%, #4E4E4E 76%, #383838 87%, #1B1B1B 100%);
        background: linear-gradient(to right, #959595 0%, #0D0D0D 46%, #010101 50%, #0A0A0A 53%, #4E4E4E 76%, #383838 87%, #1B1B1B 100%);
        color: transparent;
        -webkit-background-clip: text;
        background-clip: text;

      }

    }


    p{

      @include make-col-ready();
      @include make-col-auto();



      border-radius: 25px;
      margin: 10px;
      background: white;
      padding: 15px;
      border: 0px solid rgba(0,0,0,0.5);
      u{
        text-decoration-line: underline;
        text-decoration-color: #531fff;
        text-decoration-style: solid;
        text-decoration-thickness: 3px;
        text-underline-offset: 0.3em;
      }
    }


  }
}

.navigation{
  @include make-row();
  @extend .justify-content-center;

  ol{
    @include make-col-ready();
    @include media-breakpoint-up(sm) {
      @include make-col(12);
    }
    @include media-breakpoint-up(md) {
      @include make-col(8);
    }
    @include media-breakpoint-up(lg) {
      @include make-col(5);
    }
    @extend .breadcrumb;
    @extend .bg-white;
    li{
      @extend .breadcrumb-item;
    }
  }
}

// Test
